#include "resource.h"
#include "string_def.h"

STRINGTABLE
BEGIN
    diTitle          "Title"
    diName           "Name"
END

STRINGTABLE
BEGIN
    diNtDeviceName                           "NT Device Name"
    diVolumeGuidName                         "Volume GUID"
    diDriveName                              "Drive/Path"
END

STRINGTABLE
BEGIN
    diPhysicalDriveName                      "Physical Drive Name"
    diPhysicalDiskSize                       "Physical Disk Size"
    diPartitionStyle                         "Partition Style"
    diMBRSignature                           "Signature"
    diGPTDiskId                              "Disk Id"
    diGPTStartingUsableOffset                "Starting Usable Offset"
    diGPTUsableLength                        "Usable Length"
    diGPTMaxPartitionCount                   "Max Partition Count"
    diDiskSize                               "DiskSize"
    diCylinders                              "Cylinders"
    diTracksPerCylinder                      "Tracks/Cylinder"
    diSectorsPerTrack                        "Sectors/Track"
    diBytesPerSector                         "Bytes/Sector"
    diAlignmentBytesPerPhysicalSector        "Physical sector size"
    diAlignmentBytesPerLogicalSector         "Logical sector size"
    diAlignmentBytesOffsetForSectorAlignment "Offset for sector alignment"
    diAlignmentBytesPerCacheLine             "Bytes per cache line"
    diAlignmentBytesOffsetForCacheAlignment  "Offset for cache alignment"
    diVendorId                               "Vendor Id"
    diProductId                              "Product Id"
    diProductRevision                        "Product Revision"
    diSerialNumber                           "Serial Number"
    diBusType                                "Bus Type"
    diDeviceType                             "Device Type"
END

STRINGTABLE
BEGIN
    diSize                                   "Total Size"
    diUsage                                  "Usage"
    diFree                                   "Free"
    diTotalAllocationUnits                   "Total Allocation Units"
    diAvailableAllocationUnits               "Available Allocation Units"
    diSectorsPerAllocationUnit               "Sectors/AllocationUnit"
    diVolumeLabel                            "Volume Label"
    diCreationTime                           "Creation Time"
    diFileSystem                             "File System"
    diUniqueId                               "Unique Id"
    diObjectId                               "Object Id"
    diSupportsObjects                        "Supports Objects"
    diNtfsVolumeSerialNumber                 "Volume Serial Number"
    diNtfsNumberSectors                      "Number Sectors"
    diNtfsTotalClusters                      "Total Clusters"
    diNtfsFreeClusters                       "Free Clusters"
    diDeviceNumber                           "Partition"
    diDirtyBit                               "Dirty"
    diRetrievalPointerBase                   "Retrieval Pointer Base"
    diNtfsTotalReserved                      "Total Reserved"
    diNtfsBytesPerSector                     "Bytes/Sector"
    diNtfsBytesPerCluster                    "Bytes/Cluster"
    diNtfsBytesPerFileRecordSegment          "Bytes/File Record Segment"
    diNtfsClustersPerFileRecordSegment       "Clusters/File Record Segment"
    diNtfsMftValidDataLength                 "MftValidDataLength"
    diNtfsMftStartLcn                        "MftStartLcn"
    diNtfsMft2StartLcn                       "Mft2StartLcn"
    diNtfsMftZoneStart                       "MftZoneStart"
    diNtfsMftZoneEnd                         "MftZoneEnd"
    diUdfDirectoryCount                      "Directory Count"
    diUdfFileCount                           "File Count"
    diUdfFsFormatVersion                     "Format Version"
    diUdfFsFormatName                        "Format Name"
    diUdfFormatTime                          "Format Time"
    diUdfLastUpdateTime                      "Last Update Time"
    diUdfCopyrightInfo                       "Copyright Information"
    diUdfAbstractInfo                        "Abstract Information"
    diUdfFormattingImplementationInfo        "Formatting Implementation Information"
    diUdfLastModifyingImplementationInfo     "Last Modifying Implementation Information"
END

STRINGTABLE
BEGIN
    diRefsVersion                            "Version"
    diRefsMajorVersion                       "Major Version"
    diRefsMinorVersion                       "Minor Version"
    diRefsBytesPerPhysicalSector             "Bytes Per PhysicalSector"
    diRefsVolumeSerialNumber                 "Volume SerialNumber"
    diRefsNumberSectors                      "Number Sectors"
    diRefsTotalClusters                      "Total Clusters"
    diRefsFreeClusters                       "Free Clusters"
    diRefsTotalReserved                      "Total Reserved Clusters"
    diRefsBytesPerSector                     "Bytes Per Sector"
    diRefsBytesPerCluster                    "Bytes Per Cluster"
    diRefsMaximumSizeOfResidentFile          "Maximum Size Of Resident File"
    diRefsFastTierDataFillRatio              "FastTier Data Fill Ratio"
    diRefsSlowTierDataFillRatio              "Slow Tier Data Fill Ratio"
    diRefsDestagesFastTierToSlowTierRate     "Destages Fast Tier to Slow Tier Rate"
    diRefsMetadataChecksumType               "Metadata Checksum Type"
END

STRINGTABLE
BEGIN
    diLogFileFullExceptions              "Log File Full Exceptions"
    diOtherExceptions                    "Other Exceptions"
    diMftReads                           "Reads"
    diMftReadBytes                       "Read Bytes "
    diMftWrites                          "Writes "
    diMftWriteBytes                      "Write Bytes"
    diMftWritesUserLevel                 "Writes User Level"
    diMftWritesUserLevel_Write           "Write"
    diMftWritesUserLevel_Create          "Create"
    diMftWritesUserLevel_SetInfo         "Set Information"
    diMftWritesUserLevel_Flush           "Flush"
    diMftWritesFlushForLogFileFull       "Writes Flush For Log File Full"
    diMftWritesLazyWriter                "Writes Lazy Writer"
    diMftWritesUserRequest               "Writes User Request"
    diMft2Writes                         "Writes"
    diMft2WriteBytes                     "Write Bytes"
    diMft2WritesUserLevel                "Writes User Level"
    diMft2WritesUserLevel_Write          "Write"
    diMft2WritesUserLevel_Create         "Create"
    diMft2WritesUserLevel_SetInfo        "Set Information"
    diMft2WritesUserLevel_Flush          "Flush"
    diMft2WritesFlushForLogFileFull      "Flush For Log File Full"
    diMft2WritesLazyWriter               "Lazy Writer"
    diMft2WritesUserRequest              "User Request"
    diRootIndexReads                     "Reads"
    diRootIndexReadBytes                 "Read Bytes"
    diRootIndexWrites                    "Writes"
    diRootIndexWriteBytes                "Write Bytes"
    diBitmapReads                        "Reads"
    diBitmapReadBytes                    "Read Bytes"
    diBitmapWrites                       "Writes"
    diBitmapWriteBytes                   "Write Bytes"
    diBitmapWritesFlushForLogFileFull    "Writes Flush for Log File Full"
    diBitmapWritesLazyWriter             "Writes Lazy Writer"
    diBitmapWritesUserRequest            "Writes User Request"
    diBitmapWritesUserLevel_Write        "Write"
    diBitmapWritesUserLevel_Create       "Create"
    diBitmapWritesUserLevel_SetInfo      "Set Information"
    diBitmapWritesUserLevel_Flush        "Flush"
    diMftBitmapReads                     "Reads"
    diMftBitmapReadBytes                 "Read Bytes"
    diMftBitmapWrites                    "Writes"
    diMftBitmapWriteBytes                "Write Bytes"
    diMftBitmapWritesFlushForLogFileFull "Writes Flush for Log File Full"
    diMftBitmapWritesLazyWriter          "Writes Lazy Writer"
    diMftBitmapWritesUserRequest         "Writes User Request"
    diMftBitmapWritesUserLevel_Write     "Write"
    diMftBitmapWritesUserLevel_Create    "Create"
    diMftBitmapWritesUserLevel_SetInfo   "Set Information"
    diMftBitmapWritesUserLevel_Flush     "Flush"
    diUserIndexReads                     "Reads"
    diUserIndexReadBytes                 "Read Bytes"
    diUserIndexWrites                    "Writes"
    diUserIndexWriteBytes                "Write Bytes"
    diLogFileReads                       "Reads"
    diLogFileReadBytes                   "Read Bytes"
    diLogFileWrites                      "Writes"
    diLogFileWriteBytes                  "Write Bytes"
    diAllocate_Calls                     "Calls"
    diAllocate_RunsReturned              "Runs Returned"
    diAllocate_Hints                     "Hints"
    diAllocate_HintsHonored              "Hints Honored"
    diAllocate_Cache                     "Cache"
    diAllocate_CacheMiss                 "Cache Miss"
    diAllocate_Clusters                  "Clusters"
    diAllocate_HintsClusters             "Hints Clusters"
    diAllocate_CacheClusters             "Cache Clusters"
    diAllocate_CacheMissClusters         "Cache Miss Clusters"
    diDiskResourcesExhausted             "Disk Resources Exhausted"
    diVolumeTrimCount                    "Trim Count"
    diVolumeTrimTime                     "Trim Time"
    diVolumeTrimByteCount                "Trim Byte Count"
    diFileLevelTrimCount                 "Trim Count"
    diFileLevelTrimTime                  "Trim Time"
    diFileLevelTrimByteCount             "Trim Byte Count"
    diVolumeTrimSkippedCount             "Trim Skipped Count"
    diVolumeTrimSkippedByteCount         "Trim Skipped Byte Count"
    diNtfsFillStatInfoFromMftRecordCalledCount  "Called Count"
    diNtfsFillStatInfoFromMftRecordBailedBecauseOfAttributeListCount  "Bailed AttributeList Count"
    diNtfsFillStatInfoFromMftRecordBailedBecauseOfNonResReparsePointCount  "Bailed NonResReparsePoint Count"
END

STRINGTABLE
BEGIN
    diCreateHits                         "Create Hits"
    diSuccessfulCreates                  "Successful Creates"
    diFailedCreates                      "Failed Creates"
    diNonCachedReads                     "NonCached Reads"
    diNonCachedReadBytes                 "NonCached Read Bytes"
    diNonCachedWrites                    "NonCached Writes"
    diNonCachedWriteBytes                "NonCached Write Bytes"
    diNonCachedDiskReads                 "NonCached Disk Reads"
    diNonCachedDiskWrites                "NonCached Disk Writes"
END
